*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}

.form-control-1 {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  outline-width: 0.0625rem;
  outline-color: #0d6efd;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control-1::-moz-placeholder {
  font-size: 0.875rem;
}
.form-control-1:-ms-input-placeholder {
  font-size: 0.875rem;
}
.form-control-1::placeholder {
  font-size: 0.875rem;
}

.login__container .login__card {
  width: 500px;
  height: 400px;
}

.navigation__container {
  z-index: 998;
}
.navigation__container .navigation__title {
  padding-left: 15%;
}

.sidemenu__container {
  width: 15%;
  z-index: 999;
}
.sidemenu__container .sidemenu__content p {
  font-size: 12px;
}
.sidemenu__container .sidemenu__content .sidemenu__dashboard li .sidemenu__link, .sidemenu__container .sidemenu__content .sidemenu__dashboard li button, .sidemenu__container .sidemenu__content .sidemenu__dashboard li .sidemenu__cert, .sidemenu__container .sidemenu__content .sidemenu__dashboard li .sidemenu__manage, .sidemenu__container .sidemenu__content .sidemenu__certificate li .sidemenu__link, .sidemenu__container .sidemenu__content .sidemenu__certificate li button, .sidemenu__container .sidemenu__content .sidemenu__certificate li .sidemenu__cert, .sidemenu__container .sidemenu__content .sidemenu__certificate li .sidemenu__manage {
  display: grid;
  grid-template-columns: 30px 1fr;
  grid-template-rows: auto;
  align-items: center;
}
.sidemenu__container .sidemenu__content .sidemenu__dashboard li .sidemenu_subcontent li, .sidemenu__container .sidemenu__content .sidemenu__certificate li .sidemenu_subcontent li {
  display: grid;
  grid-template-columns: 20px 1fr;
  grid-template-rows: auto;
  align-items: center;
  font-size: 14px;
}

.dashboard__container .dashboard__main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-template-rows: auto;
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
  row-gap: 1.375rem;
}
.dashboard__container .dashboard__main .dashboard__card {
  height: 6.25rem;
}
.dashboard__container .dashboard__main .dashboard__card .dashboard__image {
  width: 6.25rem;
}

.main-padding {
  padding-top: 4.1875rem;
  padding-left: 15%;
}

.table__image__container {
  width: 2.8125rem;
  height: 2.8125rem;
}

.data__image__container {
  width: 100%;
  height: 20rem;
}

.fs-7 {
  font-size: 0.875rem;
}

.fs-8 {
  font-size: 0.625rem;
}

.mb-6 {
  margin-bottom: 113px;
}

.hover:hover {
  background-color: #0d6efd;
  color: #f8f9fa;
}

.z-index {
  z-index: 1000;
}

.spinner {
  width: 24px;
  height: 24px;
  display: grid;
  border-radius: 50%;
  -webkit-mask: radial-gradient(farthest-side, rgba(0, 0, 0, 0) 40%, #212529 41%);
  background: linear-gradient(0deg, rgba(33, 37, 41, 0.5) 50%, rgb(33, 37, 41) 0) center/1.9px 100%, linear-gradient(90deg, rgba(33, 37, 41, 0.25) 50%, rgba(33, 37, 41, 0.75) 0) center/100% 1.9px;
  background-repeat: no-repeat;
  -webkit-animation: spinner-d3o0rx 1s infinite steps(12);
          animation: spinner-d3o0rx 1s infinite steps(12);
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  border-radius: 50%;
  background: inherit;
  opacity: 0.915;
  transform: rotate(30deg);
}

.spinner::after {
  opacity: 0.83;
  transform: rotate(60deg);
}

@-webkit-keyframes spinner-d3o0rx {
  100% {
    transform: rotate(1turn);
  }
}

@keyframes spinner-d3o0rx {
  100% {
    transform: rotate(1turn);
  }
}
.spinner-arrow {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 2.9px;
  background: conic-gradient(from 135deg at top, #f8f9fa 90deg, rgba(0, 0, 0, 0) 0) 0 calc(50% - 1.9px)/8.2px 4.1px, radial-gradient(farthest-side at bottom left, rgba(0, 0, 0, 0) calc(100% - 2.9px), #f8f9fa calc(100% - 2.4px) 99%, rgba(0, 0, 0, 0)) top right/50% 50% content-box content-box, radial-gradient(farthest-side at top, rgba(0, 0, 0, 0) calc(100% - 2.9px), #f8f9fa calc(100% - 2.4px) 99%, rgba(0, 0, 0, 0)) bottom/100% 50% content-box content-box;
  background-repeat: no-repeat;
  -webkit-animation: spinner-v8og74 1s infinite linear;
          animation: spinner-v8og74 1s infinite linear;
}

@-webkit-keyframes spinner-v8og74 {
  100% {
    transform: rotate(1turn);
  }
}

@keyframes spinner-v8og74 {
  100% {
    transform: rotate(1turn);
  }
}/*# sourceMappingURL=style.css.map */